*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding: 5px;
}
.container{
 display: grid;
 height: 100vh;
 grid-gap: 0.5rem;
 color: white;
 text-align: center;
 font-size: 2rem;
 text-decoration: underline;
 text-decoration-color:black ;
 grid-template-columns: 1fr 1fr 1fr 1fr ;
 grid-template-rows: 1fr 1fr 1fr ;
 grid-template-areas: "leftbar header header righttop"
                      "leftbar box1 box2 rightbar"
                      "leftbar box3 box4 rightbar";


}
.header{background-color: green;grid-area: header;}
.leftbar{background-color: green;grid-area: leftbar;}
.rightbar{background-color: green;grid-area: rightbar;}
.righttop{background-color: red;grid-area: righttop;}
.box1{background-color: yellow;grid-area: box1;color: blue;}
.box2{background-color: red;grid-area: box2;}
.box3{background-color: red;grid-area: box3;}
.box4{background-color: yellow;grid-area: box4;color: blue;}